@using Elision.Feature.Template.Navigation.SC.Integration.Models;
@model NavigationItems<NavigationItem>
@if (Model == null || Model.Items == null || !Model.Items.Any())
{
    return;
}
<ol class="breadcrumbs">
    @for (var i = 0; i < Model.Items.Count; i++)
    {
        var item = Model.Items[i];
        if (i == Model.Items.Count - 1)
        {
            <li class="@(item.IsActive ? "active" : "")">@item.Text</li>
        }
        else
        {
            <li class="@(item.IsActive ? "active" : "")"><a href="@item.Url" class="@item.CssClass" target="@item.Target">@item.Text</a></li>
        }
    }
</ol>